* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 40px;
    margin: 0;
    font-size: 14px;
    background-color: rgb(240, 240, 240);
}

body, input {
    font-family: 'Jost', sans-serif;
}

.background {
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.todo {
    border-radius: 10px;
    list-style-type: none;
}

.todo li{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.todo li:hover{
    background-color: #fbfbfb;
}
.todo li:hover .delete{
    opacity: 0.3;
}

.todo li + li {
    border-top: 1px solid rgb(236, 236, 236);
}

.todo li .delete {
    margin-left: auto;
    opacity: 0;
    /* opacity: 0.5; */
    transition: all .25s ease;

}

.todo li .check {
    margin-right: 10px;
}

input {
    background-color: white;
    padding: 10px 20px;
    /* cursor: text; */
    outline: 0;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ddd;
    width:100%;

}
